<%= content_for :header do -%>
    <h1>
      Listing Servers
      <span class="actions">
        <%= link_to 'New Server', new_server_path, class: 'btn btn-success' %>
      </span>
    </h1>
<%- end -%>

<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Servers with most CPU usage
    </div>
    <div class="panel-body">
      <ul id="cpu_usage" class="list-group">
        <%- @servers_with_most_cpu_usage.each do |server| -%>
            <li class="list-group-item">
              <%= link_to server.name, server -%>
            </li>
        <%- end -%>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Servers with low disk space
    </div>
    <div class="panel-body">
      <ul id="disk_usage" class="table">
        <%- @servers_with_low_disk_space.each do |server| -%>
            <li class="list-group-item">
              <%= link_to server.name, server -%>
            </li>
        <%- end -%>
      </ul>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th class="pull-right" colspan="3">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @servers.each do |server| %>
      <tr>
        <td><%= server.name %></td>
        <td class="pull-right">
          <%= link_to 'Show', server, class: 'btn btn-sm btn-info' %>
          <%= link_to 'Edit', edit_server_path(server), class: 'btn btn-sm btn-warning' %>
          <%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
