<%= content_for :header do -%>
    <h1>Server: <%= @server -%></h1>
<%- end -%>

<div class="row">
  <div class="col-md-8">
    <%- if @server.name -%>
        <h4>
          <small>Name:</small>
        </h4>
        <p class="lead"><%= @server.name %></p>
    <%- end -%>
    <%- if @server.public_ip -%>
        <h4>
          <small>Public IP:</small>
        </h4>
        <p class="lead"><%= @server.public_ip %></p>
    <%- end -%>
    <%- if @server.application -%>
        <h4>
          <small>Application:</small>
        </h4>
        <p class="lead"><%= link_to @server.application.name, oauth_application_path(@server.application) %></p>
    <%- end -%>
  </div>

  <div class="col-md-4">
    <h3><%= t('.actions') %></h3>
    <p><%= link_to 'Edit', edit_server_path(@server), class: 'btn btn-warning' %></p>
    <p><%= link_to 'Destroy', @server, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></p>
    <p><%= link_to 'Back', servers_path, class: 'btn btn-default' %></p>
  </div>
</div>

<div class="row">
  <%- if @server.cpu_usages.exists? %>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>CPU Usage</h4>
          </div>
          <div class="panel-body">
            <p class="lead"><%= number_with_precision(@last_cpu_usage.amount, precision: 2) -%> %</p>
            <p class="small"><%= l @last_cpu_usage.created_at, format: :short -%></p>
          </div>
        </div>
      </div>
  <% end %>

  <%- if @server.disk_usages.exists? %>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Disk Usage</h4>
          </div>
          <div class="panel-body">
            <p class="lead"><%= @last_disk_usage.amount -%> GB</p>
            <p class="lead"><%= number_with_precision(@last_disk_usage.ratio, precision: 2) -%> %</p>
            <p class="small"><%= l @last_disk_usage.created_at, format: :short -%></p>
          </div>
        </div>
      </div>
  <%- end -%>
</div>

<%- if @server.process_tables.exists? %>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Process Table</h4>
        </div>
        <div class="panel-body">
          <p class="small"><%= @server.process_tables.last.process_table_items.count -%> processes.</p>
          <table class="table">
            <thead>
            <tr>
              <td><strong>Process Name</strong></td>
              <td><strong>CPU %</strong></td>
            </tr>
            </thead>
            <tbody>
            <%- @process_table_items.each do |item| -%>
                <tr>
                  <td><%= item.name -%></td>
                  <td><%= number_with_precision(item.cpu_usage_amount, precision: 2) -%></td>
                </tr>
            <%- end -%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<%- end -%>
