<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : t('layouts.application.title') %></title>
  <%= favicon_link_tag -%>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= content_for :head %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('layouts.application.title') %>">
</head>
<style type="text/css">
  * {
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
  }
</style>
<body id="<%= controller_name %>">
<div id="main-wrapper">
  <header>
    <%= render 'layouts/navigation' %>
  </header>
  <main role="main">
    <%= render 'layouts/messages' %>
    <section>
      <% if content_for? :header %>
          <div class="page-header">
            <%= yield :header %>
          </div>
      <% end -%>
      <%= yield %>
    </section>
  </main>
</div>
</body>
</html>

